{% extends "blog/base.html" %}
{% block content %}
	<div class="about-section">
		<h4 class="about-topic">About Homes</h4>
		<p> WELCOME to FeedApp, your ultimate digital playground for endlessndiscovery, vibrant conversations, and personalized content. Stay ahead of the curve with a dynamic stream of handpicked stories, trending topics, and real-time updates, all curated just for you.</p> 
		<br>
		<p  class="about-content"> FeedApp isn't just an app - it's living , breathing content ecosystem designed to keep you informed, entertained, and engaged. Join us and fuel your curiosity with content that speaks to you! </p>
	</div>
{% endblock content %}

<!-- 
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if title %}
		<title>Feed App - {{ title }}</title>
	{% else %}
		<title>Feed App</title>
	{% endif %}
</head>
<body>
	<h4>About Homes</h4>
</body>
</html> -->

